# backup copies
*~

# archive
*.tar.gz

# build products
*.la
*.a
*.lo
*.o
*.so
*.pd_darwin
*.pd_linux
*.l_ia64
*.l_i386
*.dll
.deps
.libs
*.lib

#################
## automake files
#################
Makefile
Makefile.in
c.library-meta.pd
README.txt
config/*
configure
config.status
libtool
aclocal.m4

#################
## Code::Blocks temp and user files
#################
*.layout
*.save
*build_log.html
*.cscope_file_list
*.depend

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib
#################
## Juce
#################
#JuceLibraryCode/

# Executables
*.exe
*.out
*.app


#################
## Visual Studio
#################

*.amplxeproj
*.tlog
*.obj
*.log
*.idb
*.pdb
*.lastbuildstate
*.ipch
*.opensdf
*.sdf
*.user
*.suo
*.cache
*.unsuccessfulbuild
*.exp
*.ilk
*.rc
*.manifest
*.res

sysbuild/

#################
## XCode
#################
xcuserdata/
xcshareddata/

*.build/
*.gcda

# Mac crap
.DS_Store

*.mode1V3
*.pbxuser

*.xcbkptlist
*.xcuserstate
*.xcsettings
*.plist
*.xcscheme

#################
## VST
#################

ThirdParty/Vst3SDK/*
!ThirdParty/Vst3SDK/readme.txt



*.dll

Package/CreamLibrary/externals/Linux64/pd-extented/c.library.pd_linux

Package/CreamLibrary/externals/Windows/pd-extented/c.library.dll

Package/CreamLibrary/externals/Linux32/pd-vanilla/c.library.pd_linux

Package/CreamLibrary/externals/Linux32/pd-extented/c.library.pd_linux

Package/CreamLibrary/c.library.pd_darwin

c.library.cpp

Coffee/c.loadmess.cpp

Coffee/c.patcherargs.cpp

Coffee/c.patcherinfos.cpp
