# backup copies
*~

# archive
*.tar.gz

# build products
*.la
*.a
*.lo
*.o
*.so
*.pd_darwin
*.pd_linux
*.l_ia64
*.l_i386
*.dll
.deps
.libs
*.lib

#################
## automake files
#################
Makefile
Makefile.in
c.library-meta.pd
README.txt
config/*
configure
config.status
libtool
aclocal.m4

#################
## Code::Blocks temp and user files
#################
*.layout
*.save
*build_log.html
*.cscope_file_list
*.depend

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

#################
## Visual Studio
#################

*.amplxeproj
*.tlog
*.obj
*.log
*.idb
*.pdb
*.lastbuildstate
*.ipch
*.opensdf
*.sdf
*.user
*.suo
*.cache
*.unsuccessfulbuild
*.exp
*.ilk
*.rc
*.manifest
*.res

sysbuild/

#################
## XCode
#################
xcuserdata/
xcshareddata/

*.build/
*.gcda
.DS_Store
*.mode1V3
*.pbxuser
*.xcbkptlist
*.xcuserstate
*.xcsettings
*.plist
*.xcscheme



/Package/CreamLibrary/externals/MacOs/pd-vanilla/c.library.pd_darwin
/Package/CreamLibrary/externals/Linux32/pd-vanilla/c.library.pd_linux
/Package/CreamLibrary/externals/Windows/pd-vanilla/c.library.dll

